@mixin anymate($animation-name, $easing, $iterations: 1, $hideByDefault: true) {
    .anym-#{$animation-name} {
        animation-iteration-count: $iterations;
        @if($iterations != infinite) {
            animation-fill-mode: forwards;
        }
        animation-timing-function: $easing;
        @if($hideByDefault) {
            opacity: 0;
        }
        animation-name: $animation-name;
        animation-play-state: paused;
    }
}