.anym {
    @for $i from 1 through $maxTimingSteps {
        &-#{$i} {
            animation-duration: #{$i*$timingInterval}ms;
            @for $j from 1 through $maxTimingSteps {
                &-#{$j} {
                    animation-duration: #{$i*$timingInterval}ms;
                    animation-delay: #{$j*$timingInterval}ms;
                }
            }
        }
    }
    &-no-replay {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
    }

    &-play {
        animation-play-state: running !important;
        &-reverse {
            animation-direction: reverse !important;
            animation-play-state: running !important;
            opacity: 1 !important;
        }
    }
    
    @each $selector in $psuedo-selectors {
        
        &-#{$selector}:#{$selector} {
            animation-play-state: running !important;
        }
        &-#{$selector}:not(:#{$selector}) {
            animation-name: none !important;
        }
    }
}