@import './_variables';
@import './timing';
@import './mixins';
@import './entrances';
@import './attentions';

/*@include anymate(fade-in, ease-in, 1, true);
/*
.anim {
    &-shrink {
        @include animation(shrink, linear, 1, false);
    }
    &-indicate-scroll {
      @include animation(indicate-scroll, linear, infinite);
    }
}*/


@keyframes pop-focus {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -10px);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}
