@include anymate(bring-forward, linear, 1, false);
@keyframes bring-forward {
    0% {
        filter: drop-shadow(0 0 0 rgba(0,0,0,0));
        transform-origin: 50% 100%;
        transform: scale(1);
    }
    40% {
        filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    }
    100% {
        filter: drop-shadow(0 2px 3px rgba(0,0,0,0.4));
        transform-origin: 50% 100%;
        transform: scale(1.02);
    }
}