@include anymate(look-below, linear, infinite);

@keyframes look-below {
    0% {
        transform: translatey(0);
        opacity: 0
    }
    20% {
        opacity: 1
    }
    30% {
        transform: translatey(1.252rem);
    }
    90% {
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translatey(1.252rem);
    }
}