@include anymate(shake, linear, infinite, false);

@keyframes shake {
    0% {
        transform-origin: 50% 200%;
        transform: translatex(0) rotate(0deg);
    }
    25% {
        transform-origin: 50% 200%;
        transform: translatex(10%) rotate(4deg);
    }
    75% {
        transform-origin: 50% 200%;
        transform: translatex(-10%) rotate(-4deg);
    }
    100% {
        transform-origin: 50% 200%;
        transform: translatex(0) rotate(0deg);
    }
}