@include anymate(drop-in, linear);

@keyframes drop-in {
  0% {
    transform: translateY(-500px) rotate(0deg) translateX(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0) rotate(0deg) translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px) rotate(5deg) translateX(2px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0) translateX(3px);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px) rotate(-2deg) translateX(-1px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0) translateX(-2px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px) translateX(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0) rotate(0) translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}