@include anymate(elastic-drop, ease);

@keyframes elastic-drop {
    0% {
        transform: translatey(-200%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translatey(50%) rotate(0deg);
    }
    40% {
        transform: translatey(-30%) rotate(4deg);
    }
    60% {
        transform: translatey(10%) rotate(2deg);
    }
    80% {
        transform: translatey(-4%) rotate(-2deg);
    }
    92% {
        transform: translatey(2%) rotate(-1.5deg);
    }
    96% {
        transform: translatey(-0.5%) rotate(-0.5deg);
    }
    100% {
        transform: translatey(0) rotate(0);
        opacity: 1;
    }
}