@include anymate(fade-in-fwd, ease);
@include anymate(fade-in-bwd, ease);

@keyframes fade-in-fwd {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-in-bwd {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}