@include anymate(pop-in, linear);

@keyframes pop-in {
    0% {
        opacity: 0;
        transform-origin: 50% 150%;
        transform: translate(0px, 20px) scale(0.85);
    }
    100% {
        opacity: 1;
        transform-origin: 50% -200%;
        transform: translate(0px, 0px) scale(1);
    }
}