@include anymate(spin-in, ease-out);
@include anymate(spin-in-bwd, ease-out);

@keyframes spin-in {
    0% {
        opacity: 0;
        transform: scale(0) rotate(150deg);
    }
    50% {
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes spin-in-bwd {
    0% {
        opacity: 0;
        transform: scale(2) rotate(210deg);
    }
    50% {
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}