@include anymate(tracking-in, linear);


@keyframes tracking-in {
    0% {
        letter-spacing: -0.4em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}